{include file="template/header.tpl" title="header"}
<div id="content">
    <form method="post" action="{$url}login/run">
        <label>Nombre</label>
        <input type="text" name="name" value=""><br>
        <label>Contraseña</label>
        <input type="password" name="password" value=""><br>
        <label></label>
        <input type="submit" value="Login"><br>
    </form>
    {$message}
</div>
{include file="template/footer.tpl" title="footer"}